release
/vendor/
phpunit.xml

debug.log

# Sass
.sass-cache
.sass-cache/
.sass-cache/*
*.map

# NPM
node_modules/
npm-debug.log

# Yarn
yarn-error.log

# Editors
.idea
*.esproj
*.tmproj
*.tmproject
tmtags
.*.sw[a-z]
*.un~
Session.vim
*.swp
.~lock*
.vscode/

# Mac OSX
.DS_Store
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
Desktop.ini

# Compiled files

# Explictly exclude plugin and include only the things that we need
db.php

# ignore local config
config.local.php
config.test.php

# ignore commit slugs
.commit


